---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import BlogTeaser from '../components/BlogTeaser.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Hero />
  <main>
    <About />
    <Projects />
    <BlogTeaser />
  </main>
  <Footer />
</Layout>
